#logo {
    height: 100%;
    margin: auto;
}

nav {
    margin: auto;
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #28282A;
    padding: 0;
    margin: none;
}